/******************** Default Override *******************************/

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 0;
    color: #71c9ce;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #71c9ce;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #747474;
}

hr {
    border-style: dotted;
    border-width: 5px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #e3fdfd;
    width: 10%;
}

hr.dotted-light {
    color: #e3fdfd;
}

/************************************ TOP SECTION ****************************/

.top-container {
    background-color: #e3fdfd;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    font-size: 5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.name-title,
p.name-title {
    color: #71c9ce;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 5px;
}

.clouds-container {
    height: 0;
}

/******************************** MIDDLE SECTIONS ABOUT ME **********************/


.middle-container {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.profile-photo {
    max-width: 150px;
    max-height: 20%;
    padding-bottom: 25px;
    transition: .5s ease;
}

.profile-photo:hover {
    transform: scale(1.20);
}

/*********************************** DIGITAL SKILLS & HOBBIES **************************/


.digital-skills {
    background-color: #cbf1f5;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.skill-row {
    width: 50%;
    margin: 25px auto 100px auto;

}

.digital-skills-text {}

.skills-image {
    max-height: 200px
}

.hobbies-row {
    width: 50%;
    margin: 0px auto 40px auto;
}

.my-hobbies-text {
    line-height: 2;
}

.skateboard-image {
    max-height: 200px;
}



#iconimages {
    padding-top: 10px;
}


.icons {
    max-height: 70px;
    max-width: auto;
    padding-left: 15px;
    padding-right: 15px;
    transition: .5s ease;
}

.icons:hover {
    transform: scale(1.25);
}

/********************************* CONTACT ME *****************************************/

.middle-container3 {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}


.btn {
    font-size: 1.25em;
    color: #71c9ce;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.5);
}

.email {
    max-width: 150px;
    max-height: auto;
}

/***************************************** FOOTER SECTION ********************************/

.bottom-container {
    background-color: #a6e3e9;
    padding-top: 100px;
    padding-bottom: 100px;

}


.footer-link {
    color: lightcyan;
    transition: .4s ease;
}

.footer-link:hover {
    opacity: 0.4;
}

.copyright {
    font-size: .75rem;
}
/***************************** LINKS AND HOVER SELECTORS ***************************/


a {
    color: #a6e3e9;
}

a:hover {
    color: #4e4e4e;
}

/************************** ANIMATIONS **************************/
/************************* ISLAND EMOJI *************************/

.island,
.islandanimation {
    font-size: 25em;
    max-width: 20%;
    height: auto;
    opacity: 0.65;
}

.islandanimation,
.island {
    position: relative;
    animation-name: beachfloat;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    transition: transform .04s ease-in-out;
}

@keyframes beachfloat {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
    }

    10% {
        transform: translate3d(0px, -16px, 0px);
        animation-timing-function: ease-in-out;
    }

    20% {
        transform: translate3d(0px, 2px, 0px);
        animation-timing-function: ease-in-out;
    }

    30% {
        transform: translate3d(0px, -14px, 0px);
        animation-timing-function: ease-in-out;
    }

    40% {
        transform: translate3d(0px, 4px, 0px);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: translate3d(0px, -12px, 0px);
        animation-timing-function: ease-in-out;
    }

    60% {
        transform: translate3d(0px, 6px, 0px);
        animation-timing-function: ease-in-out;
    }

    70% {
        transform: translate3d(0px, -10px, 0px);
        animation-timing-function: ease-in-out;
    }

    80% {
        transform: translate3d(0px, 4px, 0px);
        animation-timing-function: ease-in-out;
    }

    90% {
        transform: translate3d(0px, -8px, 0px);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in-out;
    }
}

/************************** TOP CLOUD ************************/

.top-cloud {
    position: absolute;
    left: 335px;
    bottom: 550px;
}

.top-cloud-shadow {
    position: absolute;
    left: 500px;
    bottom: 550px;
}

.top-cloud {
    position: relative;
    animation-name: beachfloat;
    animation-duration: 35s;
    animation-iteration-count: infinite;
}

.top-cloud-shadow {
    position: relative;
    animation-name: beachfloat;
    animation-duration: 36s;
    animation-iteration-count: infinite;
}

/************************** LOWER CLOUD ************************/

.bottom-cloud {
    position: absolute;
    left: -325px;
    bottom: -150px;
}

.bottom-cloud-shadow {
    position: absolute;
    left: -175px;
    bottom: -145px;
}

.bottom-cloud {
    position: relative;
    animation-name: beachfloat;
    animation-duration: 33s;
    animation-iteration-count: infinite;
}

.bottom-cloud-shadow {
    position: relative;
    animation-name: beachfloat;
    animation-duration: 34s;
    animation-iteration-count: infinite;
}

/* contact button */
.BUTTON_WTQ {
    background: #A6E3E9;
    background-image: -webkit-linear-gradient(top, #A6E3E9, #71CE9F);
    background-image: -moz-linear-gradient(top, #A6E3E9, #71CE9F);
    background-image: -ms-linear-gradient(top, #A6E3E9, #71CE9F);
    background-image: -o-linear-gradient(top, #A6E3E9, #71CE9F);
    background-image: -webkit-gradient(to bottom, #A6E3E9, #71CE9F);
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    border-radius: 31px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: Arial;
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    padding: 0;
    text-shadow: 1px 1px 24px #FFFFFF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_WTQ:hover {
    border: solid #DFA6E9 0;
    background: #A6E3E9;
    background-image: -webkit-linear-gradient(top, #A6E3E9, #A6E9C6);
    background-image: -moz-linear-gradient(top, #A6E3E9, #A6E9C6);
    background-image: -ms-linear-gradient(top, #A6E3E9, #A6E9C6);
    background-image: -o-linear-gradient(top, #A6E3E9, #A6E9C6);
    background-image: -webkit-gradient(to bottom, #A6E3E9, #A6E9C6);
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    text-decoration: none;
    color: white;
}